.user-profile {
    display: flex;
    border: 1px solid rgba(152, 164, 183, 0.4);
    padding: 6px;
}

.user-information {
    border-right: 1px solid rgba(152, 164, 183, 0.4);
    min-width: 350px;
    word-wrap: break-word;
}

.user-notes {
    width: 100%;
    padding-left: 6px;
}

.footer {
    text-align: right;
}

.inline-block {
    display: inline;
}

a:hover {
    text-decoration: none;
}